:root {
  --cor-primaria: #4a90e2;
  --cor-card: #fff;
  --cor-fundo: #f2f2f2;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--cor-fundo);
  padding-top: 75px;
  min-height: 100vh;
  /* ocupa toda a altura da janela */
  display: flex;
  flex-direction: column;
  /* empilha header, main, footer em coluna */
}

.container {
  flex: 1;
}

a:hover {
  font-size: x-large;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2em;
}

.cards a {
  text-decoration: none;
  /* font-weight: bold; */
  color: black;
}

.cards a:visited {
  color: black;
}

/* cada card ocupa metade da largura no desktop */
.cards .card,
.card-large,
.card-xlarge,
.card-sm,
.card-xsm {
  background-color: var(--cor-card);
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 32%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-large {
  width: 49%;
}

.card-xlarge {
  width: 67%;
}

.card-sm {
  width: 24%;
}

.card-xsm {
  width: 13%;
}

.cards .card:hover {
  transform: translateY(-5px);
}


.card-title {
  justify-content: center;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 0;
  padding-bottom: 0.5rem;
  border-bottom: 8px solid #EEEEEE;
}

.card-icon {
  width: 12rem;
  height: auto;
}

.card-body,
.card-body2 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.card-body2 {
  flex-wrap: nowrap;

}

.card-text {
  width: auto;
  font-size: medium;
}

.card-footer {
  display: flex;
  border-top: 8px solid #EEEEEE;
  width: auto;
}


@media (max-width: 768px) {

  .cards {
    margin-top: 2rem;
  }

  .cards .card,
  .card-large,
  .card-xlarge,
  .card-sm {
    width: 100%;
  }

  .cards .card-xsm{
    width: 48%;
  }

  .card-body {
    flex-direction: column;
    align-items: center;
  }

  .card-icon {
    width: 8rem;
    /* ícone menor no celular */
  }

  .card-text {
    text-align: center;
  }
}


.icone {
  display: flex;
  flex-direction: column;
  /* Isso faz a legenda ficar abaixo */
  align-items: center;
  text-align: center;
  margin: 0.1rem;
  width: 100%;
}

.icone img {
  height: 2em;
  width: auto;
}

.icone #imgLarge{
  width: auto;
  height: 75%;
}

.icone span {
  margin-top: 0.4rem;
  font-size: 0.85rem;
  /* color: #036ae0; */

}

a {
  text-decoration: none;
}

.licenca-cc {
  text-align: center;
  /* centraliza o texto */
  font-size: 0.9rem;
  /* opcional: deixa um pouco menor */
  margin-top: 1rem;
  /* espaço acima */
  background-color: #343a40;
  color: white;
  padding: 1rem;
}

.licenca-cc img {
  max-width: 1.5em;
  max-height: 1.5em;
  margin-left: .2em;
  vertical-align: middle;
  /* alinha os ícones à linha do texto */
}

.licenca-cc a {
  text-decoration: none;
  color: #20c997;
}

.buttons-nav{
  height: 2rem;
  align-items: end;
  text-align: end;
}

.buttons-nav img{
  height: 100%;
}
